<div class="social-icon-outer authors-sio">
	<div style="text-align:center">    
		Here's a copy of my <a href="https://github.com/TimSamuelsen/TimSamuelsen/blob/main/Resume-Tim.pdf">resume</a><br>
		Contact: <a href="mailto:tim.samuelsen@gmail.com">tim.samuelsen@gmail.com</a><br>
	</div>
    <div class="social-icon-container">
        {{ range $component := .Params.social }}
            {{ $path := print "icons/social/" .title }}
            <a href="{{ .url }}">{{ partial $path $ }}</a>
            <span class="hidden">{{ .url }}</span>
        {{ end }}
    </div>
</div>