<div style="text-align:center">    
  <a href="http//www.google.com">Search</a>
  <a href="mailto:tim.samuelsen@gmail.com">Contact: tim.samuelsen@gmail.com</a>
  <a href="https://github.com/TimSamuelsen/TimSamuelsen/blob/main/Resume-Tim.pdf">Here's a copy of my resume</a>
</div>
<div class="social-icon-outer authors-sio">
    <div class="social-icon-container">
        {{ range $component := .Params.social }}
            {{ $path := print "icons/social/" .title }}
            <a href="{{ .url }}">{{ partial $path $ }}</a>
            <span class="hidden">{{ .url }}</span>
        {{ end }}
    </div>
</div>